* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
button {
  padding: 10px 20px;
  cursor: pointer;
}
form {
  width: 30%;
  margin: auto auto;
  padding: 10px;
  border: 1px solid gray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
form input {
  width: 80%;
  padding: 5px 10px;
}
form button {
  padding: 10px 20px;
  border-radius: 3px;
  background: #405cf5;
  color: white;
  border: none;
  cursor: pointer;
}

.todo {
  width: 20%;
  margin: auto auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 1em;
  border: 1px solid gray;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
